@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jetbrains mono', monospace;
    color: #9768a5;
}

a{
    text-decoration: none;
    color : #9768a5;
}

i{
    color: #9768a5;
    cursor: pointer;
}

img{
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

html,
body{
    background: linear-gradient(#2e0929, #47273b);
    height: 100vh;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#2e0929, #572f47);
}

.header .sidebar{
    height: 100vh;
    background-color: #472547;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
}

.header .sidebar .logotip{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .sidebar .logotip > i{
    font-size: 32px;
    transition: all 0.3s ease;
}

.header .sidebar .logotip a {
    font-weight: bold;
    transition: all 0.3s ease;
}

.header .sidebar .logotip:hover a,
.header .sidebar .logotip:hover i,
.header .sidebar .menu ul li:hover a,
.header .sidebar .menu ul li:hover i,
.header main headercool .navigation-links a:hover{
    color: #b294bb;
}

.header .sidebar .menu h5{
    color: #cd88e2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header .sidebar .menu ul{
    list-style: none;
}

.header .sidebar .menu ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header .sidebar .menu ul li a{
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.header .sidebar .playing .top{
    background-color: #633163;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}

.header .sidebar .playing .top img{
    width: 35px;
    height: 35px;   
}

.header .sidebar .playing .bottom{
    background-color: #633163;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 13px;
}

.header .sidebar .playing .bottom i,
.header .sidebar .playing .bottom p{
    color: #cd88e2;
}

.header main{
    padding: 20px 40px;
}

.header main headercool{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header main headercool .navigation-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header main headercool .navigation-links a{
    text-transform: uppercase;
    color: #cd88e2;
    transition: all 0.3s ease;
}
