@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jetbrains mono', monospace;
    color: #9768a5;
}

a{
    text-decoration: none;
    color : #9768a5;
}

i{
    color: #9768a5;
    cursor: pointer;
}

img{
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

html,
body{
    background: linear-gradient(#2e0929, #47273b);
    height: 100vh;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#2e0929, #572f47);
}

.header .sidebar{
    height: 100vh;
    background-color: #472547;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
}

.header .sidebar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .sidebar .logo > i{
    font-size: 32px;
    transition: all 0.3s ease;
}

.header .sidebar .logo a {
    font-weight: bold;
    transition: all 0.3s ease;
}

.header .sidebar .logo:hover a,
.header .sidebar .logo:hover i{
    color: #b294bb;
}

.header .sidebar .menu h5{
    color: #cd88e2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header .sidebar .playing .top img{
    width: 20px;
}