@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jetbrains mono', monospace;
    color: #c276da;
}

a{
    text-decoration: none;
    color : #c276da;
}

i{
    color: #c276da;
    cursor: pointer;
}

img{
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

html,
body{
    background: linear-gradient(#2e0929, #572f47);
    height: 100vh;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    background: linear-gradient(#2e0929, #572f47);
}

.header .sidebar{
    height: 100vh;
    background-color: #472547;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
}

.header .sidebar .logotip{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .sidebar .logotip > i{
    font-size: 32px;
    transition: all 0.3s ease;
}

.header .sidebar .logotip a {
    font-weight: bold;
    transition: all 0.3s ease;
}

.header .sidebar .logotip:hover a,
.header .sidebar .logotip:hover i,
.header .sidebar .menu ul li:hover a,
.header .sidebar .menu ul li:hover i,
.header main headercool .navigate-links a:hover{
    color: #b294bb;
}

.header .sidebar .menu h5{
    color: #cd88e2;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header .sidebar .menu ul{
    list-style: none;
}

.header .sidebar .menu ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header .sidebar .menu ul li a{
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.header .sidebar .playing .top{
    background-color: #633163;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}

.header .sidebar .playing .top img{
    width: 35px;
    height: 35px;   
}

.header .sidebar .playing .bottom{
    background-color: #633163;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 13px;
}

.header .sidebar .playing .bottom i,
.header .sidebar .playing .bottom p{
    color: #c276da;
}

.header main{
    padding: 20px 40px;
}

.header main headercool{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header main headercool .navigate-links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header main headercool .navigate-links a{
    text-transform: uppercase;
    color: #c276da;
    transition: all 0.3s ease;
}

.header main headercool .search{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 60%;
    background-color: #2e0929;
    border: 1px solid #c276da;
    padding: 10px;
    border-radius: 8px;
}

.header main headercool .search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.header main .trends{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header main .trends .left .info{
    margin-top: 10px;
    padding: 25px;
}

.header main .trends .left .info h2{
    font-size: 50px;
    margin-bottom: 5px;
}

.header main .trends .left .info h4,
.header main .trends .left .info h5{
    display: inline;
}

.header main .trends .left .info h5{
    margin-left: 10px;
    color: #c276da;
}

.header main .trends .left .info .buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px
}

.header main .trends .left .info .buttons button{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #c276da;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.header main .trends .left .info .buttons i{
    color: #633163;
    font-size: 20px;
    border: 2px solid #c276da;
    padding: 10px;
    border-radius: 50%;
}

.header main .trends img{
    width: 300px;
    height: 300px;
}

.header main .playlist{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.header main .playlist .genres{
    color: #fff;
    background-color: #472547;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
}

.header main .playlist .genres .header2,
.header main .playlist .music-list .header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header main .playlist .genres .header2 a,
.container main .playlist .music-list .header2 a{
    color: #c276da;
    font-size: 14px;
}

.header main .playlist .genres .items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.header main .playlist .genres .items .item{
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.header main .playlist .genres .items .item p{
    font-size: 15px;
    font-weight: bold;
}

.header main .playlist .genres .items .item:nth-child(1){
    background-color: #44718f;
}

.header main .playlist .genres .items .item:nth-child(2){
    background-color: #721010;
}

.header main .playlist .genres .items .item:nth-child(3){
    background-color: #815315;
}

.header main .playlist .genres .items .item:nth-child(4){
    background-color: #2e0929;
}

.header main .playlist .genres .items .item:nth-child(5){
    background-color: #2b2d9e;
}

.header main .playlist .genres .items .item:nth-child(6){
    background-color: #5e2ece;
}

.header main .playlist .music-list{
    background-color: #472547;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    width: 60%;
}

.header main .playlist .music-list .items .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header main .playlist .music-list .items .item:last-child{
    margin-bottom: 0;
}

.header main .playlist .music-list .items .item .info,
.header main .playlist .music-list .items .item .acctions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header main .playlist .music-list .items .item .info p{
    color: #9058a1;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.header main .playlist .music-list .items .info img{
    width: 50px;
    height: 50px;
}

.header main .playlist .music-list .items .item .actions p{
    font-size: 15px;
    font-weight: bold;
}

.header main .playlist .music-list .items .item .actions .icon{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #532a53;
    padding: 5px;
    border: 2px solid #9058a1;
    border-radius: 5px;
}

.header main .playlist .music-list .items .item .actions .icon i{
    font-size: 15px;
    color: #9058a1;
}

.header main .playlist .music-list .items .item .actions i{
    color: #9058a1;
}

.header .board-right{
    padding: 20px 35px 20px 0;
}

.header .board-right .profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 40px;
}

.header .board-right .profile .user{
    display: flex;
}

.header .board-right .profile .user .left{
    display: flex;
    align-items: center;
    background: #472547;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}    

.header .board-right .user .left img{
    width: 30px;
}

.header .board-right .profile .user .right{
    background-color: #472547;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    color: #9058a1;
}

.header .board-right .mus-player{
    color: #fff;
    background-color: #472547;
    border-radius: 5px;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.header .board-right .mus-player .section-top{
    padding: 20px;
    height: 90%;
}

.header .board-right .mus-player .header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header .board-right .mus-player .song-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.header .board-right .mus-player .song-info img{
    width: 280px;
    height: 220px;
}

.header .board-right .mus-player .desc h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}